// divi
.guide-template-default.et_no_sidebar {
	.ilm_type-ilm-element .wp-block-columns {
		grid-template-columns: 1fr 1fr;
		display: grid;
		align-items: start;
	}

	#page-container #main-content .intro-element ol {
		text-indent: -6.5rem;
	}

	#main-content .container {
		padding-top: 0;
	}

	#left-area {
		// tool list
		ol {
			margin: 0 0 1.6rem 1.2rem;
			list-style-position: outside;
		}

		// tags
		ul {
			padding-left: 0;
		}

		.tool p {
			padding-bottom: 1em;
		}

		.entry-content {
			padding-top: 0;
		}
	}
}


@media (min-width: 1025px) {
	body .uag-hide-desktop.uagb-google-map__wrap,body .uag-hide-desktop {
		display:none !important
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	body .uag-hide-tab.uagb-google-map__wrap,body .uag-hide-tab {
		display:none !important
	}
}

@media (max-width: 767px) {
	body .uag-hide-mob.uagb-google-map__wrap,body .uag-hide-mob {
		display:none !important
	}
}
