/*
 * Colors
 */
.guide-template-default.et_no_sidebar .entry-content,
.guide-template-default.et_no_sidebar .guide-outputs,
.guide-template-default.et_no_sidebar .guide-tools,
.guide-template-default.tg-site-layout--stretched .entry-content,
.guide-template-default.tg-site-layout--stretched .guide-outputs,
.guide-template-default.tg-site-layout--stretched .guide-tools {
  padding: 2em 0;
}
.guide-template-default.et_no_sidebar .guide-outputs h2,
.guide-template-default.tg-site-layout--stretched .guide-outputs h2 {
  display: flex;
  align-items: center;
}
.guide-template-default.et_no_sidebar:not(.guide-intro) .entry-content,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .entry-content {
  padding: 2em 0;
}
.guide-template-default.et_no_sidebar:not(.guide-intro) .guide-tools,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-tools {
  padding: 8em 0 6em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar:not(.guide-intro) .guide-tools,
  .guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-tools {
    padding: 4em 0 6em;
  }
}
.guide-template-default.et_no_sidebar:not(.guide-intro) .guide-outputs,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-outputs {
  padding: 6em 0;
}
.guide-template-default.et_no_sidebar:not(.guide-intro) .entry-content,
.guide-template-default.et_no_sidebar:not(.guide-intro) .guide-tools,
.guide-template-default.et_no_sidebar:not(.guide-intro) .guide-outputs,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .entry-content,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-tools,
.guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-outputs {
  max-width: 1160px;
  margin: 0 auto;
}
@media screen and (max-width: 1250px) {
  .guide-template-default.et_no_sidebar:not(.guide-intro) .entry-content,
  .guide-template-default.et_no_sidebar:not(.guide-intro) .guide-tools,
  .guide-template-default.et_no_sidebar:not(.guide-intro) .guide-outputs,
  .guide-template-default.tg-site-layout--stretched:not(.guide-intro) .entry-content,
  .guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-tools,
  .guide-template-default.tg-site-layout--stretched:not(.guide-intro) .guide-outputs {
    max-width: calc(100vw - 6em);
    margin: 0 3em;
  }
}
.guide-template-default.et_no_sidebar.guide-ilm-output .entry-content,
.guide-template-default.tg-site-layout--stretched.guide-ilm-output .entry-content {
  padding-bottom: 6em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar.guide-ilm-output .entry-content,
  .guide-template-default.tg-site-layout--stretched.guide-ilm-output .entry-content {
    padding-bottom: 3em;
  }
}
.guide-template-default.et_no_sidebar.guide-ilm-element figcaption,
.guide-template-default.tg-site-layout--stretched.guide-ilm-element figcaption {
  color: white;
  font-size: 14px;
  line-height: 21px;
  padding: 1em;
  background-color: #3f3933;
}
.guide-template-default.et_no_sidebar.guide-intro .entry-content,
.guide-template-default.tg-site-layout--stretched.guide-intro .entry-content {
  padding-bottom: 0;
}
.guide-template-default.et_no_sidebar.guide-intro .entry-content div:last-child,
.guide-template-default.tg-site-layout--stretched.guide-intro .entry-content div:last-child {
  padding-bottom: 8em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar.guide-intro .entry-content div:last-child,
  .guide-template-default.tg-site-layout--stretched.guide-intro .entry-content div:last-child {
    padding-bottom: 2em;
  }
}
.guide-template-default.et_no_sidebar.guide-intro .intro-text,
.guide-template-default.tg-site-layout--stretched.guide-intro .intro-text {
  margin: 6em 0;
}
@media screen and (min-width: 768px) {
  .guide-template-default.et_no_sidebar.guide-intro .intro-text,
  .guide-template-default.tg-site-layout--stretched.guide-intro .intro-text {
    max-width: calc(100vw - 6em);
    margin: 6em auto;
  }
}
.guide-template-default.et_no_sidebar.guide-intro .intro-text a,
.guide-template-default.tg-site-layout--stretched.guide-intro .intro-text a {
  color: #076b8e;
}
.guide-template-default.et_no_sidebar.guide-intro .intro-text + div,
.guide-template-default.tg-site-layout--stretched.guide-intro .intro-text + div {
  padding-top: 6em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar.guide-intro .intro-text,
  .guide-template-default.tg-site-layout--stretched.guide-intro .intro-text {
    margin: 0 0 3em;
  }
}
.guide-template-default.et_no_sidebar #left-area .breadcrumbs ul,
.guide-template-default.tg-site-layout--stretched #left-area .breadcrumbs ul {
  padding-left: 0;
}
.guide-template-default.et_no_sidebar .breadcrumbs,
.guide-template-default.tg-site-layout--stretched .breadcrumbs {
  margin: 1em 0 2em;
}
.guide-template-default.et_no_sidebar .breadcrumbs a,
.guide-template-default.tg-site-layout--stretched .breadcrumbs a {
  text-decoration: none;
  color: #076b8e;
}
.guide-template-default.et_no_sidebar .breadcrumbs a:hover,
.guide-template-default.tg-site-layout--stretched .breadcrumbs a:hover {
  text-decoration: underline;
}
.guide-template-default.et_no_sidebar .breadcrumbs ul,
.guide-template-default.tg-site-layout--stretched .breadcrumbs ul {
  margin: 0;
  list-style: none;
}
.guide-template-default.et_no_sidebar .breadcrumbs li,
.guide-template-default.tg-site-layout--stretched .breadcrumbs li {
  display: inline-block;
}
.guide-template-default.et_no_sidebar .breadcrumbs li + li,
.guide-template-default.tg-site-layout--stretched .breadcrumbs li + li {
  padding-left: 0.3em;
}
.guide-template-default.et_no_sidebar .breadcrumbs li + li::before,
.guide-template-default.tg-site-layout--stretched .breadcrumbs li + li::before {
  padding-right: 0.3em;
  content: " / ";
}
.guide-template-default.et_no_sidebar .tool,
.guide-template-default.tg-site-layout--stretched .tool {
  margin: 5em auto;
  padding: 2em 2em 0 7em;
  border: 1px solid #ddd;
  border-radius: 1em;
}
.guide-template-default.et_no_sidebar .tool h3,
.guide-template-default.tg-site-layout--stretched .tool h3 {
  font-weight: 700;
  margin-bottom: 0;
}
.guide-template-default.et_no_sidebar .tool ul,
.guide-template-default.tg-site-layout--stretched .tool ul {
  list-style: none;
  margin: 1em 0;
}
.guide-template-default.et_no_sidebar .tool a,
.guide-template-default.tg-site-layout--stretched .tool a {
  color: #3f3933;
  text-decoration: none;
}
.guide-template-default.et_no_sidebar .tool a:hover,
.guide-template-default.tg-site-layout--stretched .tool a:hover {
  color: #076b8e;
  text-decoration: underline;
}
.guide-template-default.et_no_sidebar .tool .link,
.guide-template-default.et_no_sidebar .tool .pdf,
.guide-template-default.tg-site-layout--stretched .tool .link,
.guide-template-default.tg-site-layout--stretched .tool .pdf {
  position: absolute;
  margin-left: -5em;
}
.guide-template-default.et_no_sidebar .tool:first-of-type,
.guide-template-default.tg-site-layout--stretched .tool:first-of-type {
  margin-top: 3em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar .tool,
  .guide-template-default.tg-site-layout--stretched .tool {
    margin: 3em auto;
  }
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element h2,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element h2 {
  font-size: 1.75rem;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element h2 a,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element h2 a {
  color: white;
  text-decoration: none;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element h2 a:hover,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element h2 a:hover {
  color: white;
  text-decoration: underline;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element p,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element p {
  font-size: 1.25rem;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element > div,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element > div {
  min-height: 13em;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element ol,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element ol {
  font-size: 1.25rem;
  list-style: none;
  margin: 2em;
  text-indent: -7.2rem;
  margin-left: 9rem;
  line-height: 2rem;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element ol li,
.guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element ol li {
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar #page-container #main-content .intro-element,
  .guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element {
    padding: 0;
  }
  .guide-template-default.et_no_sidebar #page-container #main-content .intro-element ol,
  .guide-template-default.tg-site-layout--stretched #page-container #main-content .intro-element ol {
    text-indent: 0;
    margin: 1.5em;
  }
}
.guide-template-default.et_no_sidebar .output-wrapper,
.guide-template-default.tg-site-layout--stretched .output-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar .output-wrapper,
  .guide-template-default.tg-site-layout--stretched .output-wrapper {
    display: block;
  }
}
.guide-template-default.et_no_sidebar .output-wrapper .output,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output {
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  border-color: #ddd;
  padding: 2em 1.5em 0;
  display: grid;
  grid-template-rows: 5em 1fr auto;
}
.guide-template-default.et_no_sidebar .output-wrapper .output a,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output a {
  color: #3f3933;
  text-decoration: none;
}
.guide-template-default.et_no_sidebar .output-wrapper .output ol a,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output ol a {
  color: #076b8e;
}
.guide-template-default.et_no_sidebar .output-wrapper .output p,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output p {
  font-weight: 400;
}
.guide-template-default.et_no_sidebar .output-wrapper .output a:hover,
.guide-template-default.et_no_sidebar .output-wrapper .output h3 a:hover,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output a:hover,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output h3 a:hover {
  color: #076b8e;
  text-decoration: underline;
}
.guide-template-default.et_no_sidebar .output-wrapper .output summary,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.guide-template-default.et_no_sidebar .output-wrapper .output summary::after,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output summary::after {
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='0' fill='none' width='20' height='20'/%3E%3Cg%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7z'/%3E%3C/g%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.guide-template-default.et_no_sidebar .output-wrapper .output details[open] summary::after,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output details[open] summary::after {
  transform: rotate(180deg);
}
.guide-template-default.et_no_sidebar .output-wrapper .output h4,
.guide-template-default.tg-site-layout--stretched .output-wrapper .output h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar .output-wrapper .output,
  .guide-template-default.tg-site-layout--stretched .output-wrapper .output {
    display: block;
  }
  .guide-template-default.et_no_sidebar .output-wrapper .output ol,
  .guide-template-default.tg-site-layout--stretched .output-wrapper .output ol {
    margin-bottom: 0;
  }
  .guide-template-default.et_no_sidebar .output-wrapper .output:nth-child(n+2),
  .guide-template-default.tg-site-layout--stretched .output-wrapper .output:nth-child(n+2) {
    margin-top: 2em;
  }
}
.guide-template-default.et_no_sidebar .tag,
.guide-template-default.tg-site-layout--stretched .tag {
  display: inline-block;
  background-color: #009147;
  color: white;
  border-radius: 2em;
  padding: 0.5em 1em;
}
.guide-template-default.et_no_sidebar .tag p,
.guide-template-default.tg-site-layout--stretched .tag p {
  margin-top: 1.5em;
  margin-left: auto;
  line-height: 21px;
  color: #3f3933;
}
.guide-template-default.et_no_sidebar .tag + .tag,
.guide-template-default.tg-site-layout--stretched .tag + .tag {
  margin-left: 0.5em;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar .tag + .tag,
  .guide-template-default.tg-site-layout--stretched .tag + .tag {
    margin-left: 0;
    margin-top: 1em;
  }
}
.guide-template-default.et_no_sidebar .element-toc > div,
.guide-template-default.tg-site-layout--stretched .element-toc > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  max-width: 1160px;
  margin: 0 auto;
}
.guide-template-default.et_no_sidebar .element-toc > div ol a,
.guide-template-default.tg-site-layout--stretched .element-toc > div ol a {
  text-decoration: none;
  color: #076b8e;
}
.guide-template-default.et_no_sidebar .element-toc > div ol a:hover,
.guide-template-default.tg-site-layout--stretched .element-toc > div ol a:hover {
  text-decoration: underline;
}
.guide-template-default.et_no_sidebar .element-toc > div > div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div {
  border-style: solid;
}
.guide-template-default.et_no_sidebar .element-toc > div > div > div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div > div {
  padding: 1.5em 1.5em 0.5em;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(n+2),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(n+2) {
  grid-column: span 1;
  margin-top: 0;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(1),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(1) {
  border-color: #3f3933;
  grid-column: span 2;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(1) div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(1) div {
  background-color: #3f3933;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(1) ol,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(1) ol {
  max-width: 600px;
  margin: 2em auto;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(2),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(2) {
  border-color: #f99d1c;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(2) div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(2) div {
  background-color: #f99d1c;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(3),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(3) {
  border-color: #ffcd03;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(3) div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(3) div {
  background-color: #ffcd03;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(4),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(4) {
  border-color: #009147;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(4) div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(4) div {
  background-color: #009147;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(5),
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(5) {
  border-color: #00344d;
}
.guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(5) div,
.guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(5) div {
  background-color: #00344d;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar .element-toc,
  .guide-template-default.tg-site-layout--stretched .element-toc {
    padding-left: 0;
    padding-right: 0;
  }
  .guide-template-default.et_no_sidebar .element-toc > div,
  .guide-template-default.tg-site-layout--stretched .element-toc > div {
    display: block;
  }
  .guide-template-default.et_no_sidebar .element-toc > div > div:first-child ol,
  .guide-template-default.tg-site-layout--stretched .element-toc > div > div:first-child ol {
    max-width: 100%;
    margin: 1.5em;
  }
  .guide-template-default.et_no_sidebar .element-toc > div > div:nth-child(n+2),
  .guide-template-default.tg-site-layout--stretched .element-toc > div > div:nth-child(n+2) {
    margin-top: 2em;
  }
}
.guide-template-default.et_no_sidebar .section-image,
.guide-template-default.tg-site-layout--stretched .section-image {
  border-radius: 1em;
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}
.guide-template-default.et_no_sidebar .section-image svg,
.guide-template-default.tg-site-layout--stretched .section-image svg {
  height: 50px;
  width: 50px;
  vertical-align: middle;
}
.guide-template-default.et_no_sidebar .section-image svg path,
.guide-template-default.tg-site-layout--stretched .section-image svg path {
  fill: #fff !important;
}
.guide-template-default.et_no_sidebar.guide-shared-understanding .output:hover, .guide-template-default.et_no_sidebar.parent-shared-understanding .output:hover,
.guide-template-default.tg-site-layout--stretched.guide-shared-understanding .output:hover,
.guide-template-default.tg-site-layout--stretched.parent-shared-understanding .output:hover {
  border-color: #f99d1c;
}
.guide-template-default.et_no_sidebar.guide-shared-understanding figcaption,
.guide-template-default.et_no_sidebar.guide-shared-understanding .section-image, .guide-template-default.et_no_sidebar.parent-shared-understanding figcaption,
.guide-template-default.et_no_sidebar.parent-shared-understanding .section-image,
.guide-template-default.tg-site-layout--stretched.guide-shared-understanding figcaption,
.guide-template-default.tg-site-layout--stretched.guide-shared-understanding .section-image,
.guide-template-default.tg-site-layout--stretched.parent-shared-understanding figcaption,
.guide-template-default.tg-site-layout--stretched.parent-shared-understanding .section-image {
  background-color: #f99d1c;
}
.guide-template-default.et_no_sidebar.guide-impact-and-learning .output:hover, .guide-template-default.et_no_sidebar.parent-impact-and-learning .output:hover,
.guide-template-default.tg-site-layout--stretched.guide-impact-and-learning .output:hover,
.guide-template-default.tg-site-layout--stretched.parent-impact-and-learning .output:hover {
  border-color: #00344d;
}
.guide-template-default.et_no_sidebar.guide-impact-and-learning figcaption,
.guide-template-default.et_no_sidebar.guide-impact-and-learning .section-image, .guide-template-default.et_no_sidebar.parent-impact-and-learning figcaption,
.guide-template-default.et_no_sidebar.parent-impact-and-learning .section-image,
.guide-template-default.tg-site-layout--stretched.guide-impact-and-learning figcaption,
.guide-template-default.tg-site-layout--stretched.guide-impact-and-learning .section-image,
.guide-template-default.tg-site-layout--stretched.parent-impact-and-learning figcaption,
.guide-template-default.tg-site-layout--stretched.parent-impact-and-learning .section-image {
  background-color: #00344d;
}
.guide-template-default.et_no_sidebar.guide-vision-and-planning .output:hover, .guide-template-default.et_no_sidebar.parent-vision-and-planning .output:hover,
.guide-template-default.tg-site-layout--stretched.guide-vision-and-planning .output:hover,
.guide-template-default.tg-site-layout--stretched.parent-vision-and-planning .output:hover {
  border-color: #ffcd03;
}
.guide-template-default.et_no_sidebar.guide-vision-and-planning figcaption,
.guide-template-default.et_no_sidebar.guide-vision-and-planning .section-image, .guide-template-default.et_no_sidebar.parent-vision-and-planning figcaption,
.guide-template-default.et_no_sidebar.parent-vision-and-planning .section-image,
.guide-template-default.tg-site-layout--stretched.guide-vision-and-planning figcaption,
.guide-template-default.tg-site-layout--stretched.guide-vision-and-planning .section-image,
.guide-template-default.tg-site-layout--stretched.parent-vision-and-planning figcaption,
.guide-template-default.tg-site-layout--stretched.parent-vision-and-planning .section-image {
  background-color: #ffcd03;
}
.guide-template-default.et_no_sidebar.guide-taking-action .output:hover, .guide-template-default.et_no_sidebar.parent-taking-action .output:hover,
.guide-template-default.tg-site-layout--stretched.guide-taking-action .output:hover,
.guide-template-default.tg-site-layout--stretched.parent-taking-action .output:hover {
  border-color: #009147;
}
.guide-template-default.et_no_sidebar.guide-taking-action figcaption,
.guide-template-default.et_no_sidebar.guide-taking-action .section-image, .guide-template-default.et_no_sidebar.parent-taking-action figcaption,
.guide-template-default.et_no_sidebar.parent-taking-action .section-image,
.guide-template-default.tg-site-layout--stretched.guide-taking-action figcaption,
.guide-template-default.tg-site-layout--stretched.guide-taking-action .section-image,
.guide-template-default.tg-site-layout--stretched.parent-taking-action figcaption,
.guide-template-default.tg-site-layout--stretched.parent-taking-action .section-image {
  background-color: #009147;
}
.guide-template-default.et_no_sidebar.guide-landscape-partnership .output:hover, .guide-template-default.et_no_sidebar.parent-landscape-partnership .output:hover,
.guide-template-default.tg-site-layout--stretched.guide-landscape-partnership .output:hover,
.guide-template-default.tg-site-layout--stretched.parent-landscape-partnership .output:hover {
  border-color: #3f3933;
}
.guide-template-default.et_no_sidebar.guide-landscape-partnership figcaption,
.guide-template-default.et_no_sidebar.guide-landscape-partnership .section-image, .guide-template-default.et_no_sidebar.parent-landscape-partnership figcaption,
.guide-template-default.et_no_sidebar.parent-landscape-partnership .section-image,
.guide-template-default.tg-site-layout--stretched.guide-landscape-partnership figcaption,
.guide-template-default.tg-site-layout--stretched.guide-landscape-partnership .section-image,
.guide-template-default.tg-site-layout--stretched.parent-landscape-partnership figcaption,
.guide-template-default.tg-site-layout--stretched.parent-landscape-partnership .section-image {
  background-color: #3f3933;
}
.guide-template-default.et_no_sidebar .wp-block-columns,
.guide-template-default.tg-site-layout--stretched .wp-block-columns {
  padding: 0;
}
.guide-template-default.et_no_sidebar #et-main-area h1,
.guide-template-default.et_no_sidebar #main h1,
.guide-template-default.tg-site-layout--stretched #et-main-area h1,
.guide-template-default.tg-site-layout--stretched #main h1 {
  font-size: 30px;
  font-weight: 700;
  border-bottom: none;
  display: flex;
  align-items: center;
}
.guide-template-default.et_no_sidebar .read-more,
.guide-template-default.tg-site-layout--stretched .read-more {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .guide-template-default.et_no_sidebar #primary,
  .guide-template-default.tg-site-layout--stretched #primary {
    margin-bottom: 0;
  }
  .guide-template-default.et_no_sidebar .tg-container,
  .guide-template-default.tg-site-layout--stretched .tg-container {
    padding: 0;
  }
}

.guide-template-default.et_no_sidebar .wp-block-columns {
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: start;
}
.guide-template-default.et_no_sidebar #page-container #main-content .intro-element ol {
  text-indent: -6.5rem;
}
.guide-template-default.et_no_sidebar #main-content .container {
  padding-top: 0;
}
.guide-template-default.et_no_sidebar #left-area ol {
  margin: 0 0 1.6rem 1.2rem;
  list-style-position: outside;
}
.guide-template-default.et_no_sidebar #left-area ul {
  padding-left: 0;
}
.guide-template-default.et_no_sidebar #left-area .tool p {
  padding-bottom: 1em;
}
.guide-template-default.et_no_sidebar #left-area .entry-content {
  padding-top: 0;
}

.guide-template-default.tg-site-layout--stretched .type-guide {
  background-color: #f9fcf8;
}